body{
    /* background-image: url(https://thumbs.dreamstime.com/z/english-back-garden-patio-table-chairs-29714945.jpg); */
    background-color: rgb(84, 230, 133);
}
.todo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bolder;
    text-decoration: dashed;
    font-size: 60px;
    color: chocolate;
}
.mtd{
    text-align: center;
    margin: 20px;
}
.main{
    text-align: center;

}
.list,.inp{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    height: 40px;
    font-size: 30px;
    color: orangered;
}
.addVal,.delAll{
    background-color: darkcyan;
    width: 120px;
    height: 55px;
    margin: 15px;
    font-size: 22px;
    color: darkred;
    border: 4px;
    border-radius: 20px;
}
.btn,.edt{
    text-align: center;
    background-color: gold;
    width: 90px;
    height: 35px;
    margin: 10px;
    font-size: 15px;
    color: red;
    border: 2px;
    border-radius: 10px;
}
@media only screen and (max-width:600px){
    .todo{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        text-decoration: dashed;
        font-size: 30px;
        color: chocolate;
    }
}
@media only screen and (max-width:600px){
    .mtd{
        text-align: center;
        margin: 15px;
    }
}
@media only screen and (max-width:600px){
    .addVal,.delAll{
        background-color: darkcyan;
        width: 60px;
        height: 35px;
        margin: 15px;
        font-size: 12px;
        color: darkred;
        border: 2px;
        border-radius: 20px;
    }
}
@media only screen and (max-width:600px){
    .list,.inp{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        height: 20px;
        font-size: 15px;
        color: orangered;
    }
}
@media only screen and (max-width:600px){
    .btn,.edt{
        text-align: center;
        background-color: gold;
        width: 60px;
        height: 20px;
        margin: 10px;
        font-size: 15px;
        color: red;
        border: 2px;
        border-radius: 10px;
    }
}